//	ICONS
//
//	Icons. Just for decoration.

//	Fonts are stored in settings/_icomoon.

@font-face {
	font-family:'Icomoon';
	src:url( settings/_icomoon/icomoon.eot ),
		url( settings/_icomoon/icomoon.svg ) format( 'svg' ),
		url( settings/_icomoon/icomoon.ttf ) format( 'truetype' ),
		url( settings/_icomoon/icomoon.woff ) format( 'woff' );
	font-variant:normal;
	font-weight:normal;
}

//	General icon styles

.icon:before {
	font-family:'Icomoon';
	font-size:1em;
	color:#0af;
	//vertical-align:middle;
	margin-right:5px;
}
.icon {
	vertical-align:middle;
}
.icon:hover:before {
	text-decoration:none;
}

//	Individual icon styles

.icon.article:before {
	content:'\e60b ';
}
.icon.author:before {
	content:'\e606 ';
}
.icon.date:before {
	content:'\e607 ';
}
.icon.tag:before {
	content:'\e608 ';
}
.icon.category:before {
	content:'\e609 ';
}
.icon.home:before {
	content:'\e605 ';
}
.icon.comments:before {
	content:'\e60a ';
}
.icon.article:before {
	content:'\e60b ';
}