// VARIABLES
//
// Fonts

$p-font:'Helvetica Neue',sans-serif;
$h-font:'Raleway',sans-serif;

// Colors

$colorD1:#fd0;
$colorD2:#ccc;
$colorD3:#000;
$colorD4:#ccc;

$colorD5:#222;

$colorL1:#000;
$colorL2:#444;
$colorL3:#fff;

$colorP:#000;
$colorA:#08f;
$colorA-hover:#f80;

// MIXINS

@mixin main-font {
	font-family:$p-font;
	font-weight:300;
	
}
@mixin p-font {
	@include main-font;
	line-height:1.3;
	text-align:justify;
}

@mixin h-font {
	font-family:$h-font;
	text-transform:uppercase;
	font-weight:200;
}



body {
	@include main-font;
}

.c {
	width:90%;
}
.c-small {
	width:70%;
}
.f {
	margin:0 auto;
}

p {
	@include p-font;
}
a {
	color:$colorA;
	text-decoration:none;

	&:hover {
		text-decoration:underline;
	}
	&:active {
		color:$colorA-hover;
	}
}

h1,h2,h3,h4,h5,h6 {
	@include h-font;
}


small {
	font-size:0.5em;
}
strong {
	font-weight:500;
}
em {
	font-style:italic;
}

.screen-reader-text {
	display:none;
}

pre {
	font-family:'Menlo', monospace;
	font-size:18px;
}

// Clearfix

.cf:before,.cf:after, {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
	*zoom:1;
}
