
//	ADAPTIVE LAYOUTS
//	These variables set the breakpoints for Stencils layouts.
//
$stn-mobile     : 649px !default;
$stn-tablet     : 650px !default;
$stn-tablet-max : 949px !default;
$stn-desktop    : 950px !default;
