%c { // Containers
	margin:0 auto;
}

%cf:before,%cf:after, { // Clearfix
    content: " ";
    display: table;
}

%cf:after {
    clear: both;
}

%cf {
	*zoom:1;
}


@mixin reset_ {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

@mixin reset( $properties... ) {
	@each $property in $properties {
		@if $property == margin or $property == padding or $property == border {
			#{ $property }: 0;
			
		}
		@else if $property == font-size {
			#{ $property }: 100%;
			
		}
		@else if $property == font {
			#{ $property }: inherit;
			
		}
		@else if $property == vertical-align {
			#{ $property }: baseline;
			
		}
	
	}
	
}

@mixin prefix( $property, $value, $location, $prefixes... ) {
	
	@if $location == property {
		@each $prefix in $prefixes {
			-#{ $prefix }-#{ $property }: $value;
		}
		
	}
	@elseif $location == value {
		@each $prefix in $prefixes {
			#{ $property }: -#{ $prefix }-#{ $value };
		}
		
	}
	
	#{ $property }: $value;
	
}
