//@-webkit-keyframes fadeIn {
//	0% {
//		opacity:0;
//	}
//	100% {
//		opacity:1;
//	}
//}
//@keyframes fadeIn {
//	0% {
//		opacity:0;
//	}
//	50% {
//		opacity:0;
//	}
//	100% {
//		opacity:1;
//	}
//}
//
//@mixin fadeIn {
//	html.cssanimations & {
//		animation-name:fadeIn;
//		-webkit-animation-name:fadeIn;
//		animation-delay:1s;
//		-webkit-animation-delay:1s;
//		animation-duration:1s;
//		-webkit-animation-duration:1s;
//	
//	}
//}


@import "core/breathe-1.0.0/reset/standard.css";
@import "core/breathe-1.0.0/breathe";
@import "core/theme";



//	RESETS

body {
	@include font-p;
	
}

.cf {
	@extend %cf;
}
.c {
	@extend %c;
}

a {
	text-decoration:none;
	color:#08f;
	
	&:hover {
		color:#f80;
	}
}

p {
	line-height:1.2;
}

//	HEADER

#header {
	@extend %layout-singular;
	//@include fadeIn;
	background:$colorD-bg;
	
	#logo {
		@extend %logo;
		
		h1 {
			color:$colorD-h1;
			@include font-h;
		}
		h2 {
			color:$colorD-h2;
			@include font-h;
		}
	}
	
	&[data-ui-scheme="light"] {
		#logo {
			h1 {
				color:$colorL-h1;
			}
			h2 {
				color:$colorL-h2;
			}
		}
		
		#nav {
			li {
				> a {
					color:$colorL-h1;
				
				}
				
				.sub-menu {
					background:$colorL-bg;
				}
				
				&:hover {
					> a {
						background:$colorL-text;
						color:$colorL-bg;
					}   
						
				}
				
			}
		}
	}
	
	#nav {
		@extend %nav;
		
		li {
			> a {
				@include font-h;
				color:$colorD-h1;
			
			}
			.sub-menu {
				background:$colorD-bg;
				box-shadow:0 0 30px $colorD-bg;
			}
			
			&.current_page_item,&.current_page_parent {
				html.cssgradients & {
					> a {
						@include prefix( background, linear-gradient( to bottom, transparent, rgba( 255, 223, 0, 0.8 ) ), value, webkit, o );
					
					}
					&:hover > a {
						color:$colorD-h1;
					}
					
				}
			}
			
			&:hover {
				> a {
					background:$colorD-h1;
					color:$colorD-bg;
				}
			}
		}
	}
	
	#nav-mobile {
		@extend %nav-mobile;
		
		a {
			@include font-h;
			display:block;
			padding:2% 0;
			color:$colorD-h1;
			font-size:1.2em;
			
			&:hover {
				background:$colorD-h1;
				color:$colorD-bg;
			}
		}
		
	}
	
}

#nav-mobile-reveal {
	@include reset( border, margin, padding );
	display:none;
	width:100%;
	text-align:center;
	color:$colorD-h1;
	background:$colorD-bg2;
	font-size:3.5em;
	line-height:0.75;
	
	&:active {
		background:#888;
		
	}
	
	@media screen and ( min-width:650px ) {
		display:none;
		
	}
	
}

//	FOOTER

#footer {
	@extend %three;
	//@include fadeIn;
	background:$colorD-bg;
	
	.widget-column {
		@extend %three-col;
		
		h5 {
			@include font-h;
			font-size:1.5em;
			text-align:center;
			color:$colorD-h1;
			padding:1% 0;
		}
		
		p {
			color:#fff;
		}
		
	}
	
}

#copyright {
	background:$colorD-bg;
	font-size:0.5em;
	color:$colorD-h2;
	text-align:center;
	padding:2% 0;
	
	html.no-flexbox & {
		clear:both;
	}
}
