@import url(core/breathe-1.0.0/reset/standard.css);
.c {
  width: 90%;
  margin: 0 auto; }

html.no-flexbox #header > .c:before, html.no-flexbox #header #nav:before, html.no-flexbox #footer > .c:before, .cf:before, html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  content: " ";
  display: table; }

html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  clear: both; }

html.no-flexbox #header > .c, html.no-flexbox #header #nav, html.no-flexbox #footer > .c, .cf {
  *zoom: 1; }

.c {
  width: 90%;
  margin: 0 auto; }

html.no-flexbox #header > .c:before, html.no-flexbox #header #nav:before, html.no-flexbox #footer > .c:before, .cf:before, html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  content: " ";
  display: table; }

html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  clear: both; }

html.no-flexbox #header > .c, html.no-flexbox #header #nav, html.no-flexbox #footer > .c, .cf {
  *zoom: 1; }

html.flexbox #header > .c {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 950px) {
    html.flexbox #header > .c {
      -webkit-flex-direction: row;
      flex-direction: row; } }
#header #logo {
  text-align: center;
  padding: 2%; }
  #header #logo h1 {
    margin-right: auto;
    font-size: 1.5em; }
  #header #logo h2 {
    margin: auto inherit;
    font-size: 1.25em; }
  @media screen and (min-width: 700px) and (max-width: 949px) {
    #header #logo {
      padding: 1.5%; }
      #header #logo a {
        display: -webkit-flex;
        display: flex; } }
  @media screen and (min-width: 950px) {
    #header #logo {
      text-align: right;
      padding: 0.5%; }
      html.flexbox #header #logo {
        margin-right: auto; }
      html.no-flexbox #header #logo {
        float: left; }
      #header #logo h1 {
        font-size: 1.9em; }
      #header #logo h2 {
        font-size: 1.25em; } }
#header #nav {
  display: none; }
  @media screen and (min-width: 700px) {
    html.flexbox #header #nav {
      display: -webkit-flex;
      display: flex; }
    html.no-flexbox #header #nav {
      display: inline-block;
      float: right; }
    html.no-flexbox #header #nav > li {
      float: left; }
    #header #nav li a {
      display: block;
      width: -webkit-fill-available;
      width: fill-available;
      width: -moz-available;
      padding: 1em 0.55em;
      font-size: 1.4em; }
    #header #nav li .sub-menu {
      display: none; }
    #header #nav li:hover .sub-menu {
      display: block;
      position: absolute; } }
  @media screen and (min-width: 700px) and (max-width: 949px) {
    html.flexbox #header #nav {
      -webkit-justify-content: space-around;
      justify-content: space-around; }
    html.no-flexbox #header #nav {
      float: left; } }
#header #nav-mobile {
  text-align: center; }
  html.flexbox #header #nav-mobile {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
  @media screen and (min-width: 650px) {
    #header #nav-mobile {
      display: none !important; } }
  #header #nav-mobile a {
    width: 100%; }

.c {
  width: 90%;
  margin: 0 auto; }

html.no-flexbox #header > .c:before, html.no-flexbox #header #nav:before, html.no-flexbox #footer > .c:before, .cf:before, html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  content: " ";
  display: table; }

html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  clear: both; }

html.no-flexbox #header > .c, html.no-flexbox #header #nav, html.no-flexbox #footer > .c, .cf {
  *zoom: 1; }

.c {
  width: 90%;
  margin: 0 auto; }

html.no-flexbox #header > .c:before, html.no-flexbox #header #nav:before, html.no-flexbox #footer > .c:before, .cf:before, html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  content: " ";
  display: table; }

html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  clear: both; }

html.no-flexbox #header > .c, html.no-flexbox #header #nav, html.no-flexbox #footer > .c, .cf {
  *zoom: 1; }

.c {
  width: 90%;
  margin: 0 auto; }

html.no-flexbox #header > .c:before, html.no-flexbox #header #nav:before, html.no-flexbox #footer > .c:before, .cf:before, html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  content: " ";
  display: table; }

html.no-flexbox #header > .c:after, html.no-flexbox #header #nav:after, html.no-flexbox #footer > .c:after, .cf:after {
  clear: both; }

html.no-flexbox #header > .c, html.no-flexbox #header #nav, html.no-flexbox #footer > .c, .cf {
  *zoom: 1; }

#footer {
  padding: 2% 0; }
  html.flexbox #footer > .c {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 950px) {
      html.flexbox #footer > .c {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around; } }
  #footer .widget-column {
    padding: 0 4%; }
    @media screen and (min-width: 950px) {
      #footer .widget-column {
        width: 30%;
        padding: initial; }
        html.no-flexbox #footer .widget-column {
          float: left;
          padding: 0 1.5%; } }
    #footer .widget-column > :nth-child(1n+2) {
      display: none; }
      @media screen and (min-width: 950px) {
        #footer .widget-column > :nth-child(1n+2) {
          display: initial; } }
    #footer .widget-column p {
      padding: 2% 0;
      text-align: justify; }

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  text-align: justify; }

a {
  text-decoration: none;
  color: #08f; }
  a:hover {
    color: #f80; }

p {
  line-height: 1.2; }

#header {
  background: black; }
  #header #logo h1 {
    color: #ffdd00;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase; }
  #header #logo h2 {
    color: #cccccc;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase; }
  #header[data-ui-scheme="light"] #logo h1 {
    color: black; }
  #header[data-ui-scheme="light"] #logo h2 {
    color: #888888; }
  #header[data-ui-scheme="light"] #nav li > a {
    color: black; }
  #header[data-ui-scheme="light"] #nav li .sub-menu {
    background: white; }
  #header[data-ui-scheme="light"] #nav li:hover > a {
    background: black;
    color: white; }
  #header #nav li > a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #ffdd00; }
  #header #nav li .sub-menu {
    background: black;
    box-shadow: 0 0 30px black; }
  html.cssgradients #header #nav li.current_page_item > a, html.cssgradients #header #nav li.current_page_parent > a {
    background: -webkit-linear-gradient(to bottom, transparent, rgba(255, 223, 0, 0.8));
    background: -o-linear-gradient(to bottom, transparent, rgba(255, 223, 0, 0.8));
    background: linear-gradient(to bottom, transparent, rgba(255, 223, 0, 0.8)); }
  html.cssgradients #header #nav li.current_page_item:hover > a, html.cssgradients #header #nav li.current_page_parent:hover > a {
    color: #ffdd00; }
  #header #nav li:hover > a {
    background: #ffdd00;
    color: black; }
  #header #nav-mobile a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    display: block;
    padding: 2% 0;
    color: #ffdd00;
    font-size: 1.2em; }
    #header #nav-mobile a:hover {
      background: #ffdd00;
      color: black; }

#nav-mobile-reveal {
  border: 0;
  margin: 0;
  padding: 0;
  display: none;
  width: 100%;
  text-align: center;
  color: #ffdd00;
  background: #444444;
  font-size: 3.5em;
  line-height: 0.75; }
  #nav-mobile-reveal:active {
    background: #888; }
  @media screen and (min-width: 650px) {
    #nav-mobile-reveal {
      display: none; } }

#footer {
  background: black; }
  #footer .widget-column h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    color: #ffdd00;
    padding: 1% 0; }
  #footer .widget-column p {
    color: #fff; }

#copyright {
  background: black;
  font-size: 0.5em;
  color: #cccccc;
  text-align: center;
  padding: 2% 0; }
  html.no-flexbox #copyright {
    clear: both; }
