#f
{
	@extend %stn-l-f-tricolumn;
	background:$color-1;
	
	.col
	{
		@extend %stn-l-f-tricolumn-col;
		
		p
		{
			color:$color-bg-2;
		}
	}
	.widget
	{
		@extend %electrify-widget;
		
		h5
		{
			color:$color-2;
			@include font-h;
			text-align:center;
			font-size:1.5em;
			padding:3% 0;
		}
	}
}

#copyright
{
	font-size:0.8em;
	text-align:center;
	background:$color-1;
	color:$color-bg-2;
	
	p
	{
		padding:1.5em;
	}
}
