.form-group
{
	margin:1% 0;
	width:100%;
	
	html.flexbox &
	{
		@include prefix( display, flex, value, webkit );
	}
	
	html.no-flexbox &
	{
		
	}
	
	input,
	textarea
	{
		@include reset_;
		background:$color-bg-2;
		width:-moz-available;
		
		html.flexbox &
		{
			@include prefix( width, fill-available, value, webkit );
		}
		
		html.no-flexbox &
		{
			width:50%;
		}
	}
	
	label
	{
		@include font-h;
		background:$color-h;
		color:$color-bg-2;
		
		html.flexbox &
		{
			@include prefix( min-width, max-content, value, webkit, moz );
		}
		
		&.required
		{
			color:$color-2;
		}
		
		&:hover
		{
			cursor:text;
		}
	}
	
	input,
	textarea,
	label
	{
		font-size:1.1em;
		padding:1em;
		
		html.no-flexbox &
		{
			display:inline-block;
		}
	}
	
	textarea
	{
		min-height:10em;
		max-width:100%;
	}
	
	&.form-group-lg
	{
		html.flexbox &
		{
			@include prefix( flex-direction, column, value, webkit );
		}
		
		html.no-flexbox &
		{
			input,
			textarea,
			label
			{
				display:block;
				width:100%;
			}
		}
	}
	
}

input[type="submit"]
{
	@include reset_;
	@include font-h;
	padding:1em;
	font-size:1.1em;
	color:$color-2;
	background:$color-h;
	
	&:hover
	{
		cursor:pointer;
		background:$color-p;
	}
}
