%electrify-article
{
	@extend %stn-t-article;
	
	a
	{
		color:$color-a;
		&:hover
		{
			color:$color-a-hover;
		}
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		@include font-h;
		color:$color-h;
	}
	
	h1.section-header
	{
		@extend h1:first-of-type;
	}
	
	p
	{
		color:$color-p;
	}
}

%electrify-widget
{
	@extend %electrify-article;
	
	a
	{
		text-decoration:none;
	}
}
