%electrify-article
{
	@extend %stn-t-article;
	
	a
	{
		color:#08f;
		&:hover
		{
			color:#f80;
		}
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		@include font-h;
		color:$color-h;
	}
	
	p
	{
		color:$color-p;
	}
}

%electrify-widget
{
	@extend %electrify-article;
	
	a
	{
		text-decoration:none;
	}
}
