$color-bg   : #eee;
$color-bg-2 : #ccc;
$color-1    : #000;
$color-2    : #fd0;
$color-p    : #555;
$color-h    : #333;


$font-stack:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-h-stack:'Raleway', sans-serif;

@mixin font
{
	font-family:$font-stack;
	font-weight:300;
}

@mixin font-h
{
	font-family:$font-h-stack;
	font-weight:200;
	text-transform:uppercase;
}

