.form-group
{
	margin:1% 0;
	width:100%;
	
	@include stn-mdrn( flexbox )
	{
		@include flex;
	}
	
	input,
	textarea,
	select
	{
		@include reset-all;
		border-radius:0;
		background:$color-bg-2;
		
		@include stn-mdrn( flexbox )
		{
			width:-moz-available;
			@include prefix( width, fill-available );
		}
		
		@include stn-mdrn-no( flexbox )
		{
			width:50%;
		}
	}
	
	select::after
	{
		font-family:"Genericons";
		content:"\f502";
	}
	
	label
	{
		@include font-h;
		background:$color-h;
		color:$color-bg-2;
		
		@include stn-mdrn( flexbox )
		{
			@include prefix_( min-width, max-content, value, webkit, moz );
		}
		
		&.required,
		&.req
		{
			color:$color-2;
		}
		
		&:hover
		{
			cursor:text;
		}
	}
	
	input,
	textarea,
	label,
	select
	{
		font-size:1.1em;
		padding:1em;
		@include prefix_( appearance, none, property, webkit, moz );
		
		@include stn-mdrn-no( flexbox )
		{
			display:inline-block;
		}
	}
	
	[disabled]
	{
		background:darken( $color-bg-2, 30% );
	}
	
	textarea
	{
		min-height:10em;
		max-width:100%;
	}
	
	&.form-group-lg
	{
		@include stn-mdrn( flexbox )
		{
			@include prefix( flex-direction, column );
		}
		
		@include stn-mdrn-no( flexbox )
		{
			input,
			textarea,
			label
			{
				display:block;
				width:100%;
			}
		}
	}
	
}

input[type="submit"],
button[type="submit"]
{
	@include reset-all;
	@include font-h;
	padding:1em;
	font-size:1.1em;
	color:$color-2;
	background:$color-h;
	
	&:hover
	{
		cursor:pointer;
		background:$color-p;
	}
}
