#h
{
	@include stn-thn-singular( "> .c", "#logo", ".n-w", ".n-c", "#n", "#n-mobile", "li" );
	background:$color-1;
}

#logo
{
	@include font-h;
	margin-top:1%;
	margin-bottom:1%;
	
	h1,
	h2
	{
		text-align:center;
	}
	
	h1
	{
		font-size:2em;
		color:$color-2;
	}
	h2
	{
		font-size:1.3em;
		color:$color-bg-2;
	}
	
	@include stn-breakpoint-lower( md )
	{
		
		margin-top:auto;
		margin-bottom:auto;
		
		.logo-c
		{
			display:inline-block;
		}
		
		h1,
		h2
		{
			text-align:right;
		}
		
	}
}

#n
{
	@include font-h;
	font-size:1.4em;
	color:$color-2;
	
	.sub-menu
	{
		margin-top:4px;
		z-index:1000;
		background:$color-1;
		box-shadow:0 0 15px $color-1;
	}
	
	.menu-item
	{
		@include stn-breakpoint-lower( md ) {
			
			border-top    : 4px solid transparent;
			border-bottom : 4px solid transparent;
		
			.menu-item
			{
				border-left:6px solid transparent;
				border-top:0;
				border-bottom:0;
			}
		
			&.current-page-parent,
			&.current-menu-item
			{
				border-top-color  : $color-2;
				border-left-color : $color-2;
			}
		}
		
		a
		{
			padding:0.85em 0.5em;
		}
		
		&:hover,
		&.active
		{
			border-color:$color-2;
			
			> a
			{
				background:$color-2;
				color:$color-1;
			}
		}
	}
	
}

#n-search
{
	display:none;
}
#n-search-input
{
	display:block;
	width:100%;
	@include reset( margin, border );
	padding:1%;
	@include font-h;
	font-size:1.5em;
	text-transform:uppercase;
	outline:none;
	background:$color-2;
	color:$color-1;
	
	#h.light &
	{
		background:$color-h;
		color:$color-1-inv;
	}
}

#n-mobile
{
	@include font-h;
	text-align:center;
	
	li a
	{
		display:block;
		padding:0.75em 0;
		font-size:1.2em;
		color:$color-2;
		
		&:hover
		{
			background:$color-2;
			color:$color-1;
		}
	}
}

#n-reveal
{
	@extend %stn-show-xs-only;
	padding:0.1em;
	font-family:'Times', serif;
	font-size:2.5em;
	text-align:center;
	background:$color-p;
	color:$color-2;
	
	&:active
	{
		background:lighten( $color-p, 15% );
	}
	
}
