@import "dependencies/genericons/genericons";

[data-icon]
{
	@extend .genericon;
	color:$color-p;
	font-size : 1em;
	width     : 1em;
	height    : 1em;
	margin-right:0.15em;
}

$icons:user, month, category, tag, document, edit, reply-single, link, comment, previous, next;

@each $icon in $icons
{
	[data-icon="#{$icon}"]
	{
		@extend .genericon-#{$icon};
	}
}
