@import "../../dependencies/genericons/genericons/genericons";

[data-icon]
{
	@extend .genericon;
	color:$color-2;
	font-size : 1em;
	width     : 1em;
	height    : 1em;
	margin-right:0.15em;
}

$icons:user, month, category, tag, document, edit, reply-single, link, comment, previous, next, search, home, subscribe, unsubscribe, star, checkmark, chat, trash, close, refresh, xpost, pinned, attachment, unapprove, close-alt, close, heart, flag, standard, subscribed, hierarchy, mail, reply;

@each $icon in $icons
{
	[data-icon="#{$icon}"]
	{
		@extend .genericon-#{$icon};
	}
}
