//	MAIN
//
//	Some basic styling for the main content of a page.
//	TODO Get this mess cleaned up. The body stylesheet and this one could probably be combined.

#main {
	#article {
		padding:2% 1%;
		width:100%;
		
		h1 {
			font-size:2em;
			padding:3% 0;
		}
		> h1:first-of-type {
			text-align:center;   
			font-size:3em;
			padding-bottom:1.5%;
			margin-bottom:1.5%;
			border-bottom:1px solid #000;
		}  
		h2 {
			font-size:1.75em;
			padding:2% 0;
		}
		h3 {
			font-size:1.5em;
			padding:1.5% 0;
		}
		p {
			font-size:1.05em;
			padding:1% 0;
			padding-left:1%;
			@include prefix( hyphens, auto, property, webkit, ms, moz );
		}
	}
	
	// To help set up the sidebar.
	> .c {
		@include prefix( display, flex, value, webkit );
	}
}