//	FOOTER
//
//	Most of these styles involve widgets.

#footer {
	background:$colorD3;
	width:100%;
	padding:1% 0;
	
	// The footer container.
	.widgetsC { 
		@include prefix( display, flex, value, webkit );
		@include prefix( justify-content, space-between, property, webkit );
		padding-bottom:2%;
		@media screen and ( max-width:749px ) {
			@include prefix( flex-direction, column, property, webkit );
		}
		
		// Columns that contain the widgets.
		.widget-column { 
			@include prefix( display, flex, value, webkit );
			@include prefix( flex-direction, column, property, webkit );
			width:31%;
			
			// Display the columns stacked, at full width, on tablets.
			@media screen and ( max-width:749px ) {
				width:100%;
			}
			
			//	To cut down on the number of widgets on smartphones and tablets, only the first widget
			//	in each column is displayed.
			
			.widget {
				@media screen and ( max-width:749px ) {
					display:none;
					
					&:first-of-type {
						display:block;
					}
				}
			}
		}
	} 
	
	//	General footer/widget styles
	
	h5 {
		color:$colorD1;
		margin:6% 0 2%;
		text-align:center;
		font-size:1.5em;
	}
	p {
		color:#ccc;
		padding:2% 0;
	}
	
	//	Copyright styling
	
	#copyright {
		margin-top:2%;
	}
	#copyright p {
		font-size:0.5em;
		text-align:center;
	}
}