@media print {
	#nav {
		display:none !important;
	}
	#mobile-nav {
		display:none !important;
	}
	#main {
		width: 100% !important;
		
		#article {
			width:100% !important;
		}
		#aside {
			display:none !important;
		}
		
		#comments,#respond {
			display:none !important;
		}
	}
	
	#footer {
		display:none !important;
	}
	
	.icon.home {
		display:none !important;
	}
}
