body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300; }

.c {
  width: 90%; }

.c-small {
  width: 70%; }

.f {
  margin: 0 auto; }

p {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  text-align: justify; }

a {
  color: #0088ff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    color: #ff8800; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 200; }

small {
  font-size: 0.5em; }

strong {
  font-weight: 500; }

em {
  font-style: italic; }

.screen-reader-text {
  display: none; }

pre {
  font-family: 'Menlo', monospace;
  font-size: 18px; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

@font-face {
  font-family: 'Icomoon';
  src: url(settings/_icomoon/icomoon.eot), url(settings/_icomoon/icomoon.svg) format("svg"), url(settings/_icomoon/icomoon.ttf) format("truetype"), url(settings/_icomoon/icomoon.woff) format("woff");
  font-variant: normal;
  font-weight: normal; }

.icon:before {
  font-family: 'Icomoon';
  font-size: 1em;
  color: #0af;
  margin-right: 5px; }

.icon {
  vertical-align: middle; }

.icon:hover:before {
  text-decoration: none; }

.icon.article:before {
  content: '\e60b '; }

.icon.author:before {
  content: '\e606 '; }

.icon.date:before {
  content: '\e607 '; }

.icon.tag:before {
  content: '\e608 '; }

.icon.category:before {
  content: '\e609 '; }

.icon.home:before {
  content: '\e605 '; }

.icon.comments:before {
  content: '\e60a '; }

.icon.article:before {
  content: '\e60b '; }

.block {
  overflow: scroll;
  width: 100%; }
  .block.whole {
    height: 100vh; }
    @media screen and (max-width: 649px) {
      .block.whole {
        height: auto; } }
  .block.half {
    display: -webkit-flex;
    display: flex;
    height: 50vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .block.half .headers {
      width: 50%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center; }
      .block.half .headers h1 {
        font-size: 3em;
        margin-bottom: 5%; }
    .block.half .content {
      width: 50%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center;
      height: -webkit-fill-available;
      height: -moz-available; }
      .block.half .content .p-c {
        margin: auto 0; }
      .block.half .content p {
        padding: 1% 5%; }
    @media screen and (max-height: 549px) {
      .block.half {
        height: auto; } }
    @media screen and (max-width: 649px) {
      .block.half {
        height: auto;
        -webkit-flex-direction: column;
        flex-direction: column; }
        .block.half .headers {
          width: 100%; }
          .block.half .headers h1 {
            font-size: 2em;
            margin: 0; }
        .block.half .content {
          width: 100%; }
          .block.half .content p.meta {
            display: none; } }
  .block h1 {
    font-size: 4em;
    text-align: center;
    padding: 2% 1.5% 0; }
    @media screen and (max-width: 949px) {
      .block h1 {
        font-size: 3em; } }
    @media screen and (max-width: 649px) {
      .block h1 {
        font-size: 2em; } }
  .block h2 {
    font-size: 2em;
    text-align: center;
    padding: 0 0.75%; }
    @media screen and (max-width: 949px) {
      .block h2 {
        font-size: 1.5em; } }
  .block p {
    padding: 1% 10%;
    text-align: center; }
  .block .headers {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .block .content {
    height: 40vh;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .block .content .imgC {
      text-align: center; }
      .block .content .imgC img {
        margin-top: 3%;
        height: 40vh; }
        @media screen and (max-width: 649px) {
          .block .content .imgC img {
            height: auto;
            width: 100%; } }
    .block .content .button {
      display: block;
      padding: 2% 0;
      text-align: center;
      width: 100%;
      margin: 2% auto;
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 1.25em; }
      .block .content .button:hover {
        text-decoration: none; }
      @media screen and (min-width: 650px) {
        .block .content .button.button-embed {
          display: none; } }
    .block .content .embedC {
      margin-top: 2%;
      height: 50vh; }
      .block .content .embedC iframe {
        height: 90%;
        margin: 0 auto;
        display: block; }
        @media screen and (max-width: 649px) {
          .block .content .embedC iframe {
            display: none; } }
      @media screen and (max-width: 649px) {
        .block .content .embedC {
          display: none; } }
    .block .content p {
      text-align: justify;
      margin: auto 5%; }
    @media screen and (max-width: 649px) {
      .block .content {
        height: auto !important; } }
  .block.block-blog p {
    text-align: justify; }
    .block.block-blog p:last-of-type, .block.block-blog p.meta {
      text-align: right;
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      font-weight: 200; }
  @media screen and (max-height: 549px) and (min-width: 650px) {
    .block {
      padding: 0 2%; }
      .block .headers {
        float: left;
        width: 45%;
        padding: 15vh 0;
        height: 100%; }
        body.ipad .block .headers {
          padding: 12vh 0; }
      .block .content {
        float: left;
        width: 50%;
        padding: 15vh 5vw;
        height: 80% !important; }
        body.ipad .block .content {
          padding: 10vh 5vw; }
        .block .content .embedC, .block .content .imgC {
          width: 100%; }
          .block .content .embedC iframe, .block .content .imgC iframe {
            width: 100%; }
            body.ipad .block .content .embedC iframe, body.ipad .block .content .imgC iframe {
              height: 40%; } }
  @media screen and (max-width: 649px) {
    .block {
      height: auto !important;
      overflow: hidden;
      padding: 5% 0; } }

#slider {
  position: relative; }
  #slider .block {
    padding-top: 12vh;
    height: 100vh; }
    #slider .block .headers, #slider .block .content {
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    @media screen and (max-width: 649px) {
      #slider .block {
        height: auto;
        padding: 5% 0; } }
    body.ipad #slider .block {
      padding-top: 0; }
      body.ipad #slider .block img {
        width: 100%;
        height: auto; }
      @media screen and (max-width: 949px) {
        body.ipad #slider .block .headers {
          padding-top: 12vh; } }
  #slider .slidesjs-pagination {
    position: absolute;
    bottom: 0;
    padding: 2vh 0;
    z-index: 100;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center; }
    #slider .slidesjs-pagination .slidesjs-pagination-item {
      margin: 0 8px;
      list-style: none; }
      #slider .slidesjs-pagination .slidesjs-pagination-item a {
        display: block;
        font-size: 0;
        line-height: 0;
        border-radius: 15px;
        width: 25px;
        height: 25px;
        background: transparent;
        border: 1px solid #ffdd00;
        margin: 0; }
        #slider .slidesjs-pagination .slidesjs-pagination-item a.active {
          background: #ffdd00; }
  #slider[data-ui-scheme="light"] .slidesjs-pagination-item a {
    border-color: black; }
    #slider[data-ui-scheme="light"] .slidesjs-pagination-item a.active {
      background: black; }
  #slider[data-img-background="true"] .slidesjs-pagination {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); }
  #slider .slidesjs-navigation {
    display: none; }

#header {
  background: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 200;
  height: 12vh; }
  @media screen and (max-width: 649px) {
    #header {
      background: #000;
      display: block;
      position: static;
      height: auto; } }
  #header[data-ui-scheme="light"] #logo h1 {
    color: black; }
  #header[data-ui-scheme="light"] #logo h2 {
    color: #444444; }
  #header[data-ui-scheme="light"] #nav a {
    color: #444444; }
    #header[data-ui-scheme="light"] #nav a:hover {
      color: white;
      background: black; }
  #header[data-ui-scheme="light"] #nav li:hover > a {
    background: black;
    color: white; }
  #header[data-ui-scheme="light"] #nav li:hover .sub-menu {
    background: white; }
  #header[data-ui-scheme="light"] #search-from-nav {
    color: black; }
    #header[data-ui-scheme="light"] #search-from-nav input {
      background: white;
      color: black; }
    #header[data-ui-scheme="light"] #search-from-nav:hover {
      color: white;
      background: black; }
  #header[data-img-background="true"] {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent); }

body {
  background: #000; }

@media screen and (min-width: 650px) {
  .block.fade {
    display: none; } }
