@import "inc";

#m
{
	@extend %stn-l-m-listing;
	@extend %electrify-article;
	
	margin-bottom:2%;
	
	a:hover
	{
		text-decoration:none;
	}
	
	h1
	{
		//border-bottom:1px solid $color-1;
		font-size:3em;
		text-align:center;
		@include font-h;
	}
	
	.archive-description
	{
		@include reset( padding );
		width:60%;
		margin:0 auto;
		text-align:center;
		color:lighten( $color-p, 30% );
	}
	
	.post
	{
		h2
		{
			@extend %stn-l-m-listing-header;
			@include font-h;
			padding:2% 0 1%;
			font-size:1.8em;
		}
		
		.post-content
		{
			@extend %stn-l-m-listing-content;
			
			.post-meta
			{
				@include font-h;
				@include reset( margin, padding );
				font-size:1.1em;
				
				html.no-flexbox &
				{
					vertical-align:top;
				}
				
				li
				{
					list-style:none;
					padding:4% 0;
				}
			}
		}
	}
}

.f-listing
{
	html.flexbox &
	{
		@include prefix( display, flex, value, webkit );
		@include prefix( justify-content, space-between, property, webkit );
	}
	
	html.no-flexbox &
	{
		@extend %cf;
		width:100%;
		
		.posts-older
		{
			float:left;
		}
		.posts-newer
		{
			float:right;
		}
		
	}
	
	a
	{
		display:block;
		@include font-h;
		font-size:1.2em;
		padding:1em;
	}
}
