@import "inc";

#m
{
	@extend %stn-l-m-blog;
	
	#a
	{
		@extend %stn-l-m-blog-article;
		@extend %electrify-article;
		padding:2% inherit;
		padding-bottom:10%;
	}

	#s
	{
		@extend %stn-l-m-blog-aside;
		background:$color-bg-2;
		padding:2%;
		width:30%;
		
		.widget
		{
			@extend %electrify-widget;
		}
		
		.post-meta
		{
			padding-bottom:6%;
			margin-bottom:5%;
			border-bottom:1px solid $color-p;
			
			@include font-h;
			font-size:1.2em;
			
			li
			{
				padding:2%;
				
				a:hover
				{
					text-decoration:none;
				}
			}
		}
		
		.author-meta
		{
			padding-bottom:6%;
			margin-bottom:5%;
			border-bottom:1px solid $color-p;
		}
	}
}
