@import "../inc";

#article {
	@extend %type-article;
	
	h1,h2 {
		@include font-h;
		
	}
	> h1:first-of-type {
		text-align:center;
		border-bottom:1px solid $colorD-bg;
		
	}
	
	.post {
		
		.post-content {
			html.no-flexbox & {
				@extend %cf;	
			}
			
			
			@media screen and ( min-width:950px ) {
				html.flexbox & {
					@include prefix( display, flex, value, webkit );
					@include prefix( justify-content, space-between, property, webkit );
				
				}
			
			}
			
			.post-text {
				@media screen and ( min-width:950px ) {
					width:55%;
					
					html.no-flexbox & {
						float:left;
						
					}
				
				}
			}
			.post-links {
				@include font-h;
				margin-left:0;
				text-align:right;
			
				li {
					list-style:none;
				}
			
				@media screen and ( min-width:950px ) {
					width:40%;
					text-align:left;
					@include reset( margin );
					
					html.no-flexbox & {
						float:right;
						
					}
				
				}
			
			}
			
		}
		
	}
	
}
