//	LAYOUTS > MAIN > LISTING
//	(stn-l-m-listing)
//	Lays out small bits of content (maybe search results or a main blog page) vertically
//	Excerpts on the left, metadata on the right
//
%stn-l-m-listing
{
	
	%stn-l-m-listing-header // Individual header
	{
		font-size:1.5em;
	}
	
	%stn-l-m-listing-content // Content
	{
		html.no-flexbox &
		{
			@extend %cf;
		}
		
		@media screen and ( min-width:$stn-desktop ) {
			html.flexbox &
			{
				@include prefix( display, flex, value, webkit );
			}
		}
		
		@media screen and ( min-width:$stn-desktop ) {
			> :first-child // Excerpt
			{
				width:55%;
				margin-right:3%;
				
				html.no-flexbox &
				{
					display:inline-block;
				}
			}
		}
	
		> :last-child // Metadata
		{
			text-align:left;
			display:inline-block;
		}
	}
	
}
