@import "inc";

body
{
	background:#000;
}

@media screen and ( min-width:$stn-desktop ) {
	
	#slider
	{
		.slidesjs-pagination
		{
			position:absolute;
			z-index:1000;
			width:100%;
			bottom:0;
		
			html.flexbox &
			{
				@include prefix( display, flex, value, webkit );
				@include prefix( justify-content, center, property, webkit );
			}
			
			html.no-flexbox &
			{
				text-align:center;
			}
		
			.slidesjs-pagination-item
			{
				
				html.no-flexbox &
				{
					display:inline-block;
				}
			
				a
				{
					display:block;
					line-height:0;
					font-size:0;
					padding:1rem 3.5rem;
					border-top:1px solid $color-p;
				
					&.active
					{
						border-color:$color-2;
					}
				}
			
			}
		
		}
		
		&.light .slidesjs-pagination-item a
		{
			border-color:$color-bg-2;
			
			&.active
			{
				border-color:$color-h;
			}
		}
		
	}
}

.block
{
	@extend %stn-l-d-block;
	
	.block-headers
	{
		@extend %stn-l-d-block-headers;
		margin-bottom:2%;
		min-width:45%;
		
		h1,
		h2
		{
			@include font-h;
		}
	}
	
	.block-content
	{
		@extend %stn-l-d-block-content;
		
		.btn
		{
			@include font-h;
			font-size:1.3em;
			padding:2%;
		}
		
		embed
		{
			border:1px solid white;
		}
	}
	
	p
	{
		line-height:1.5;
	}
	
	&.slider
	{
		@extend .block.whole;
	}
	
	&.half
	{
		.block-headers,
		.block-content
		{
			margin:auto inherit;
		}
		
		.block-headers
		{
			html.no-flexbox &
			{
				display:block;
				float:left;
				margin-top:8%;
				width:45%;
			}
		}
		
		.block-content
		{
			padding:2%;
			
			html.no-flexbox &
			{
				display:block;
				float:right;
				width:45%;
			}
		}
	}
	
	&.block-blog
	{
		.post-meta,
		.post-end
		{
			text-align:right;
			padding:1% 0;
			@include font-h;
			font-size:1.2em;
			
			a
			{
				color:#08f;
				
				&:hover
				{
					color:#f80;
				}
			}
		}
		
		.block-content
		{
			margin-right:2%;
		}
	}
}

#h,
#h-showcase
{
	@extend %stn-l-d-blocks-header;
	z-index:1000;
	
	@media screen and ( min-width:$stn-desktop ) {
		&.light
		{
			#logo
			{
				h1
				{
					color:$color-h;
				}
			
				h2
				{
					color:$color-p;
				}
			}
		
			#n
			{
				color:$color-h;
				
				.sub-menu
				{
					background:$color-1-inv;
					box-shadow:0 0 15px $color-h;
				}
				
				.menu-item
				{
					&.current-page-parent,
					&.current-menu-item
					{
						border-top-color  : $color-h ;
						border-left-color : $color-h ;
					}
					
					&:hover,
					&.active
					{
						border-color:$color-h;
			
						> a
						{
							background:$color-h;
							color:$color-1-inv;
						}
					}
				}
			}
			
		}
	}
}
