@import "inc";

#m
{
	@extend %stn-l-m-blog;
	
	#a
	{
		@extend %stn-l-m-blog-article;
		@extend %electrify-article;
		padding:2% inherit;
		padding-bottom:10%;
				
	}

	#s
	{
		@extend %stn-l-m-blog-aside;
		background:$color-bg-2;
		padding:2%;
		width:30%;
		
		.widget
		{
			@extend %electrify-widget;
		}
		
	}
	
	#a-search
	{
		@extend #a;
		width:100%;
		margin-bottom:30%;
		
		h1
		{
			text-align:center;
		}
	}
	
}
