@import "../inc";

//	BLOG LAYOUT
//
//	Very much like a traditional blog, with a main content area and a sidebar.

%blog {
	//padding:5% 0;
	
	> .c {
		html.flexbox & {
			@include prefix( display, flex, value, webkit );
			@include prefix( flex-direction, column, property, webkit );
			
			@media screen and ( min-width:950px ) {
				@include prefix( flex-direction, row, property, webkit );
				@include prefix( justify-content, space-between, property, webkit );
				
			}
		
		}
		html.no-flexbox & {
			@extend %cf;
			
		}
	}
	
	%blog-article {
		width:100%;
		
		@media screen and ( min-width:950px ) {
			//display:initial;
			width:63%;
			
			html.no-flexbox & {
				float:left;
				
			}
			
		}
	}
	
	%blog-aside {
		display:none;
		
		@media screen and ( min-width:950px ) {
			display:block;
			width:33%;
			
			html.no-flexbox & {
				float:right;
				
			}
			
		}
		
	}
}
