$colorD-bg:#000;
$colorD-bg2:#444;
$colorD-text:#fff;

$colorD-h1:#fd0;
$colorD-h2:#ccc;

$colorL-bg:#fff;
$colorL-text:#000;

$colorL-h1:#000;
$colorL-h2:#888;


@mixin font-h {
	font-family:'Raleway', sans-serif;
	font-weight:200;
	text-transform:uppercase;
	
}

@mixin font-p {
	font-family:'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight:300;
	text-align:justify;
	
}
