//	TYPOGRAPHY > ARTICLE
//	(stn-t-article)
//	Get a headstart on working with blogs. By extending this scope, you won't have to handle all those weird elements
//	that nothing except blogs use.
//
%stn-t-article {

	h1,h2,h3,h4,h5,h6 {
		padding:2% 0;
	
	}

	> h1:first-of-type { // Assumed to be page title 
		font-size:3em;
	}

	h1 {
		font-size:2em;
	
	}
	h2 {
		font-size:1.5em;
	
	}
	h3 {
		font-size:1.3em;
	}
	h4 {
		font-size:1.1em;
	}
	h5 {
		
	}
	h6 {
		
	}

	//	MAIN TYPOGRAPHY

	p {
		text-align:justify;
		line-height:1.625;
		font-size:1rem;
		padding:1% 0 1% 1%; // Indents paragraphs slightly, making headers stand out more
	
	}

	hr {
		height:1px;
		border:0;
		background:#000;
	
	}

	blockquote {
		border-left:5px solid #888;
		margin-left:2%;
		padding-left:2%;
	
	}

	ul,ol {
		margin:2% 0;
		margin-left:8%;
		
		li {
			padding:1.5% 1%;
			
		}
	}
	ul li {
		list-style:circle;
	}
	ol li {
		list-style-type:decimal;
	}

	//	INLINE ELEMENTS

	a {
		color:#00a;
		text-decoration:none;
	
		&:hover {
			text-decoration:underline;
		
		}
		&:active {
			color:#a00;
		
		}
	}

	small {
		font-size:0.5em;
	}

	q {
		@extend em;
	}
	cite {
		text-align:right;
	}

	strong {
		font-weight:bold;
	}
	em {
		font-style:italic;
	}
	%u { // No default HTML element for underlines. To style, you must extend this selector.
		text-decoration:underline;
	}
	s {
		text-decoration:line-through;
	}
	
	//	OTHER ELEMENTS
	
	img,
	iframe,
	figure {
		max-width:100%;
	}
}
