//	ARTICLE TYPE
//
//	Sets up some default typography styles for an article-type context

%type-article {
	
	//	HEADERS

	h1,h2,h3,h4,h5,h6 {
		padding:2% 0;
	
	}

	//	Assumed to be page title
	> h1:first-of-type {
		font-size:3em;
	}

	h1 {
		font-size:2em;
	
	}
	h2 {
		font-size:1.5em;
	
	}
	h3 {
		font-size:1.3em;
	}
	h4 {
		font-size:1.1em;
	}
	h5 {
		
	}
	h6 {
		
	}

	//	MAIN TYPOGRAPHY

	p {
		text-align:justify;
		line-height:1.2;
		font-size:1rem;
		padding:1% 0;
		padding-left:1%; // Indents paragraphs slightly, making headers stand out more
	
	}

	hr {
		height:1px;
		border:0;
		background:#000;
	
	}

	blockquote {
		border-left:5px solid #888;
		margin-left:2%;
		padding-left:2%;
	
	}

	ul,ol {
		margin:2% 0;
		margin-left:8%;
	}
	ul li {
		list-style:circle;
		padding:1.5% 1%;
	}
	ol li {
		list-style-type:decimal;
		padding:1.5% 1%;
	}

	//	INLINE ELEMENTS

	a {
		color:#00a;
		text-decoration:none;
	
		&:hover {
			text-decoration:underline;
		
		}
		&:active {
			color:#a00;
		
		}
	}

	small {
		font-size:0.5em;
	}

	q {
		@extend em;
	}
	cite {
		text-align:right;
	}

	strong {
		font-weight:bold;
	}
	em {
		font-style:italic;
	}
	%u { // No default HTML element for underlines. To style, you must extend this selector.
		text-decoration:underline;
	}
	s {
		text-decoration:line-through;
	}
}
