
body
{
	color:$color-bg-2;
	background:$color-p;
}

a
{
	color:$color-2;
	
	&:hover
	{
		color:ligthen( $color-2, 30% );
	}
}


.bbp-breadcrumb,
.bbp-pagination
{
	@extend %stn-col-xs-12;
	padding:1%;
	margin:1% 0;
	
	@include font-h;
	background:#222;
}

.c
{
	.bbp-breadcrumb,
	#bbp-topics,
	.bbp-pagination
	{
		margin-left:0;
		margin-right:0;
	}
	
}

.c #bbp-topics
{
	@extend %stn-col-xs-12;
	
	a:hover
	{
		text-decoration:underline;
	}
	
	.topic
	{
		padding:1%;
		border-top:1px solid $color-bg-2;
		//border-left:3px solid transparent;
		
		&:first-child
		{
			border-top:0;
		}
		
		.bbp-topic-title,
		.bbp-topic-interface
		{
			width:100%;
			padding:0.5% 0;
		}
		
		h1
		{
			@include font-h;
			color:$color-h;
			font-size:1.5em;
			
			a
			{
				display:block;
			}
			
		}
		
		.bbp-topic-interface
		{
			@include stn-list( row, left, $sel-c: ".bbp-topic-interface-c", $sel-itms: "> li" );
			
			li
			{
				margin:0 0.5%;
			}
			
		}
		
		.bbp-author-avatar
		{
			vertical-align:middle;
		}
		
	}
	
}

.c #bbpress-forums
{
	@extend %stn-col-xs-12;
	
	a:hover
	{
		text-decoration:underline;
	}
	
}

.c #bbpress-user
{
	width:100%;
	@extend %stn-col-xs-12;
	@extend %stn-row;
	
	&-history
	{
		@extend %stn-col-xs-12;
		@extend %stn-col-sm-8;
		@extend %stn-col-md-9;
	}
	
	&-details
	{
		@extend %stn-col-xs-12;
		@extend %stn-col-sm-4;
		@extend %stn-col-md-3;
		
		#bbp-user-avatar
		{
			margin:5% 0;
			text-align:right;
			
			img
			{
				border:3px solid $color-2;
			}
			
		}
		
	}
	
}

.bbp-form
{
	//border-top:1px solid $color-bg-2;
	margin:4% 0;
	//padding:2% 0 0;
	
	legend
	{
		display:none;
		// @include font-h;
		// color:$color-2;
		// font-size:1.5em;
	}
	
}
.bbp-replies
{
	max-width:950px;
	margin:0 auto;
	
	.bbp-reply
	{
		line-height:1.5;
		margin:2em 0;
		
		&-header
		{
			@include stn-list( row, space-between, $sel-c: "> div", $sel-itms: "> hgroup,> div" );
			background:#222;
			padding-left:0.5em;
			line-height:1;
			
		}
		
		&-meta
		{
			@include stn-list( row, left, $sel-c: "> ul", $sel-itms: "li" );
			margin:auto 0;
			
			li
			{
				vertical-align:middle;
				margin-right:1em;
			}
			
			img
			{
				vertical-align:middle;
			}
			
			.bbp-author-role
			{
				display:inline;
			}
			
		}
		
		&-interface
		{
			@include stn-list( row, right, $sel-c: "> div", $sel-itms: "> li, > a" );
			
			.reply-toolbar li
			{
				display:inline-block;
			}
			
			a
			{
				display:block;
				
				text-decoration:none;
				&:hover
				{
					background:$color-2;
					[data-icon] { color:$color-1; }
				}
				
				[data-icon]
				{
					font-size:1.5em;
					padding:0.2em 0.1em;
				}
				
			}
			
		}
		
		p
		{
			margin:0.7em 0;
		}
		
	}
	
}

.bbp-user-section
{
	margin:1% 0 3%;
}

.entry-title
{
	// display:none;
	@include font-h;
	color:$color-2;
	font-size:2em;
	margin:4% 0 0;
}
